<h1>Summary</h1>
<p>
    <table style="border: 2px dashed rgb(165, 165, 165); border-collapse: collapse;">
        <tr>
            <th colspan="2">&nbsp;</th>
        </tr>
        <tr>
            <th colspan="2"><h3>Activities developed (total):<span style="color:rgb(197, 21, 21);"> <%= GeneralOpCatalog.wTotal %></span></h3></th>
        </tr>
        <tr>
            <th><h3>From: <span style="color:rgb(197, 21, 21);"><%= GeneralOpCatalog.wFirstInteraction %></span></h3></th>
            <th><h3>To: <span style="color:rgb(197, 21, 21);"><%= GeneralOpCatalog.wLastInteraction %></span></h3></th>
        </tr>
        <tr>
            <th colspan="2">&nbsp;</th>
        </tr>
    </table>
</p>